# Node dependencies
node_modules/
.next/
out/
build/

# Python dependencies
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
env/
venv/
.env

# Local database and logs
backend/storage.json
backend/uvicorn_err.log
backend/uvicorn.log
backend/.pytest_cache/

# IDE settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp